*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}
body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
main{
    width: 30%;
}
#Student_form_container{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.075);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 18px 20px 0px #00000040;
}
input{
    padding: 1rem;
    border-radius: 10px;
    margin: 0.5rem 0rem;
    border: none;
}
input:active{
    padding: 1rem;
    border-radius: 10px;
    margin: 0.5rem 0rem;
    border: none;
}
button{
    padding: 1rem;
    border-radius: 10px;
    border: none;
    margin: 0.5rem 0rem;
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid #0000ff56;
}
button:hover{
    padding: 1rem;
    border-radius: 10px;
    border: none;
    margin: 0.5rem 0rem;
    transition: 0.5s;
    cursor: pointer;
    background-color: #0000ff56;
    color: white;
    box-shadow: 0px 4px 13px 0px #0000004f;
    border: 1px solid #0000ff00;    
}
.Students{
    background-color: green;
    padding: 2rem;
    border-radius: 10px;
    color: white;
    margin-top: 2rem;
    box-shadow: 0px 18px 20px 0px #00000040;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
}
